<div class="card white car-selected">
    <div class="card-content">
        <div class="card-title">
            <span>{{selectedCar.name}}</span>
            <i class="mdi-navigation-close right" {{action "deselectCar" selectedCar}}></i>
        </div>
        {{!-- Info --}}
        <div class="info">
            <img src="http://placehold.it/110x100" width="110" height="100" />
            <span>{{selectedCar.vehicle.production_year}} {{selectedCar.vehicle.make}} {{selectedCar.vehicle.model}}</span>
            <p>
                <small class="vin">VIN#</small>
                <small>{{selectedCar.vehicle.vin}}</small>
            </p>
            <p>
                <small class="vin">Milage</small>
                <small>{{selectedCar.vehicle.mileage}}</small>
            </p>
            <p>
                <small class="vin">Active</small>
                {{#if selectedCar.vehicle.isActive}}
                    <small>Yes</small>
                {{else}}
                    <small>No</small>
                {{/if}}
            </p>
        </div>
        {{!-- Driver Score --}}
        {{#if selectedCar.vehicle.isActive}}
            <div class="driverscore clearfix">
                <div class="score">92</div>
                <span>Current Driver Score</span>
                <img src="assets/img/mock_sparkline.png" width="250" />
            </div>
        {{/if}}
        {{!-- Notifications --}}
        <div class="notifications">
            {{#if selectedCar.vehicle.hasNotifications}}
            {{else}}
            <p>No notifications for this vehicle</p>
            {{/if}}
        </div>
    </div>
</div>