<div class="device-head device-power-icon">
    <h5>{{name}}</h5>
</div>
<div class="device box">
    <div class="device-image cover" style="background-image: url('/content/{{unbound image}}')"></div>
    <ul class="main-list">
        <li>
            <small>Location</small>
            <h4>{{location.name}}</h4>
        </li>
        <li><small>Temperature</small>
            <h4>{{fahrenheit}} °F</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" {{bind-attr aria-valuenow=power_consumption}} aria-valuemin="0" aria-valuemax="100" style="width: {{unbound powerConsumption}}%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </li>
        <li><small>Kilowatt</small>
            <h4>{{kilowatt}}</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow=power_consumption}} aria-valuemin="0" aria-valuemax="100" style="width: {{unbound powerConsumption}}%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </li>
    </ul>
</div>