<nav class="navbar navbar-inverse navbar-static-top navbar-embossed" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        {{link-to 'Connected Car' 'dashboard' class="navbar-brand"}}
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
            {{#link-to "dashboard" tagName="li" href=false}}
            <a {{bind-attr href="view.href"}}>Dashboard</a>
            {{/link-to}}
            {{#link-to "settings" tagName="li" href=false}}
            <a {{bind-attr href="view.href"}}>Settings</a>
            {{/link-to}}
            {{#if carsConnected}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Track Connected Cars<span class="navbar-new">{{model.length}}</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {{#each car in model}}
                        <li><a {{action 'trackCar' car.nitrogen_id}} href="#">{{car.name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li style="padding-right: 10px">
                <a {{action 'invalidateSession' }}>Sign Out</a>
            </li>
        </ul>
    </div>
</nav>