<div id="panel-menu">
    <div class="flatpanel">
        <div class="flatpanel-title">
            <span>Track Cars</span>
        </div>
        {{#if carsConnected}}
        <ul>
            {{#each car in model}}
                <li {{action 'toggleCar' car}} {{bind-attr class="car.trackOnMap:flatpanel-selected:flatpanel-notselected"}}>
                    <div class="flatpanel-icon fa fa-car"></div>
                    <div class="flatpanel-content">
                        <h4 class="flatpanel-name">
                            {{car.name}}
                        </h4>
                        {{#if car.gps.firstObject.timestamp}}
                            Seen: {{pretty-Date car.gps.firstObject.timestamp}}
                        {{else}}
                            Never seen
                        {{/if}}
                    </div>
                </li>
                {{#if car.trackOnMap}}{{#if car.gps.firstObject}}
                    <li>
                        <div class="car-metadata">
                            {{#if car.gps.firstObject.latitude}}
                            <a type="button" {{action "centerMap" car.gps.firstObject}} class="btn btn-embossed btn-primary btn-xs"><i class="fa fa-location"></i> Go to</a>
                            {{/if}}
                            {{#if car.gps.firstObject.speed}}
                                <span> <i class="fa fa-tachometer"></i> {{round-number car.gps.firstObject.speed 0}} mph </span>
                                {{/if}}{{#if car.gps.firstObject.latitude}}
                                <span><i class="fa fa-compass"></i> {{round-number car.gps.firstObject.latitude 3}} {{round-number car.gps.firstObject.longitude 3}}</span>
                            {{/if}}
                        </div>
                    </li>
                {{/if}}{{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>