<div class="menu-nav">
    {{partial "menu"}}
</div>
<div class="main-container">
    <div class="content-overlay">
        <div class="cards">
            {{#if driverViewVisible}}
                {{partial "driver-list"}}

                {{#if selectedDriver}}
                    {{partial "driver-selected-card"}}
                {{/if}}
            {{else}}
                {{partial "car-list"}}

                {{#if selectedCar}}
                    {{partial "car-selected-card"}}
                {{/if}}
            {{/if}}
        </div>
    </div>

    {{!-- Map --}}

    {{ox-map mapReference=mapReference}}
</div>
<div class="menu-flyout" {{action "toggleSideNav"}}>
    {{partial "menu"}}
</div>