<div class="menu-nav">
    {{partial "menu"}}
</div>
<div class="main-container">
    <div class="content-overlay">
        <div class="cards">
            <div class="card white">
                <div class="card-content">
                    <div class="card-title">Tracked Vehicles</div>
                    <ul class="carlist collection">
                        {{#each car in model}}
                            {{partial "car-list-item"}}
                        {{/each}}
                        
                    </ul>
                </div>
            </div>

            {{#if selectedCar}}
                {{partial "car-selected-card"}}
            {{/if}}

        </div>
    </div>

    {{!-- Map --}}

    {{ox-map mapReference=mapReference}}
</div>
<div class="menu-flyout" {{action "toggleSideNav"}}>
    {{partial "menu"}}
</div>