{{#unless hideNavbar}}
    {{partial "navbar"}}
{{/unless}}

<div id="main-content">
    {{#each}}
    <div class="devices-row">
        <div class="col-md-3 device">
            <div class="device-head">
                <h5>{{ device.name }}</h5>
            </div>
            <ul>
                <li>Device Name <h4>{{name}}</h4></li>
                <li>Temperature <h4>{{fahrenheit}} °F</h4></li>
                <li>Kilowatt <h4>{{kilowatt}}</h4>
                    <div class="progress">
                        <div class="progress-bar progres-bar-danger" role="progressbar" {{bind-attr aria-valuenow=power_consumption}} aria-valuemin="0" aria-valuemax="100" style="width: {{unbound powerConsumption}}%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {{/each}}
</div>