<div>
    <div id="panel-menu">
        <div id="user-info">
            <img src="assets/img/user.png" width="200px" />
        </div>
        <div class="accordion" id="leftMenu">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                        <span class="icon fui-home"></span> Dashboard
                    </a>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                        <span class=" icon fui-location">
                        </span> Locations
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="btn-group-vertical">
                            <button class="locationBtn" type="button" id="loc{{$index}}" ng-click="FilterLocation(location, $index)">{{location}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                        <span class="icon fui-gear"></span> Settings
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <ul>
                            <li>This is one</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading last">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                        <span class="icon fui-user"></span> Sign Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-container">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
            </button>
            <a id="js-openmenubutton" class="navbar-brand" href="#">Device Data</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
                <div>
                    <div class="btn-group">
                        <label class="btn btn-lg" btn-radio="'device.name'">
                            Device Name
                            <i class="glyphicon glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </label>
                        <label class="btn btn-lg" btn-radio="'device.network'">
                            Location
                            <i class="glyphicon glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </label>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>

<div id="main-content">
    <div>
        <div class="devices-row">
            <div class="col-md-3 device">
                <div class="device-head">
                    <h5>{{ device.name }}</h5>
                </div>
                <ul>
                    <li>Device ID <h4>{{device.id}}</h4></li>
                    <li>Location <h4>{{device.network}}</h4></li>
                </ul>
            </div>
        </div>
    </div>
    <div >
        <div class="devices-row">
            <div class="col-md-3 device">
                <div class="device-head">
                    <h5>{{ device.name }}</h5>
                </div>
                <ul>
                    <li>Device ID <h4>{{device.id}}</h4></li>
                    <li>Location <h4>{{device.network}}</h4></li>
                    <li>Timestamp: {{reading.ts}}</li>
                    <li>{{reading.body}}</li>
                </ul>
            </div>
            <button class="btn btn-default">Done</button>
        </div>
    </div>
</div>