<div id="main-container">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
            </button>
            <a id="js-openmenubutton" class="navbar-brand" href="#">Device Data</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
                <div>
                    <div class="btn-group">
                        <label class="btn btn-lg" btn-radio="'device.name'">
                            Device Name
                            <i class="glyphicon glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </label>
                        <label class="btn btn-lg" btn-radio="'device.network'">
                            Location
                            <i class="glyphicon glyphicon-chevron-up"></i>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </label>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>

<div id="main-content">
    <div>
        <div class="devices-row">
            <div class="col-md-3 device">
                <div class="device-head">
                    <h5>{{ device.name }}</h5>
                </div>
                <ul>
                    <li>Device ID <h4>{{device.id}}</h4></li>
                    <li>Location <h4>{{device.network}}</h4></li>
                </ul>
            </div>
        </div>
    </div>
    <div >
        <div class="devices-row">
            <div class="col-md-3 device">
                <div class="device-head">
                    <h5>{{ device.name }}</h5>
                </div>
                <ul>
                    <li>Device ID <h4>{{device.id}}</h4></li>
                    <li>Location <h4>{{device.network}}</h4></li>
                    <li>Timestamp: {{reading.ts}}</li>
                    <li>{{reading.body}}</li>
                </ul>
            </div>
            <button class="btn btn-default">Done</button>
        </div>
    </div>
</div>