<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col s10 m8 offset-m2 welcome-offset">
                <div class="card card-account">
                    <div class="card-image">
                        <img src="assets/img/loginHead.jpg">
                    </div>
                    <div class="card-content">
                        {{#if loading}}
                            <div {{bind-attr class="loading"}}></div>
                            <div class="welcome-loading">
                                {{cc-spinner}}
                            </div>
                        {{/if}}
                        <span class="card-title grey-text text-darken-4">Connected Car Client</span>
                        <p>Please login with your Nitrogen.io account.</p>
                        <div class="row">
                            <form id="login" {{action 'authenticate' on='submit'}} >
                                <div class="input-field col s12">
                                    <i class="mdi-action-bookmark-outline prefix"></i>
                                    {{input class="validate" id="identification" value=identification}}
                                    <label for="identification">Username</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="mdi-action-bookmark-outline prefix"></i>
                                    {{input class="validate" id="password" type="password" value=password}}
                                    <label for="password">Password</label>
                                </div>
                                <div class="col s12">
                                    <br />
                                    <a {{action "login"}} class="waves-effect waves-light btn center">
                                        <i class="mdi-action-exit-to-app left"></i>Login
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>