<div class="login-form">
    <div>
        <h3>Welcome to Nitrous</h3>
        <p>Please login using either Google or Facebook.</p>
    </div>
    <div>
        <a {{ action 'authenticateWithFacebook' }} class="btn btn-hg btn-primary">
            <i class="fa fa-facebook-square"></i> Facebook
        </a>
        <a {{ action 'authenticateWithGoogle' }} class="btn btn-hg btn-primary">
            <i class="fa fa-google"></i> Google
        </a>
    </div>
    <br>
    <div>
        <form {{action 'authenticate' on='submit'}}>
            <label for="identification">Login</label>
            {{input id='identification' placeholder='Enter Login' value=identification}}
            <br>
            <label for="password">Password</label>
            {{input id='password' placeholder='Enter Password' type='password' value=password}}
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>